.app {
  display: flex;
  padding: 30px;
  justify-content: center;
  background-color: #f5d9d6;
  border-radius: 16px;
}
.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  margin: 0 20px 0 20px;
  font-size: 20px;
  color: #8b4412;
}
